﻿@using MuranoWeb.Data.Entity;
@using MuranoWeb.Data.Extensions
<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Murano Software">
    <meta name="application-name" content="Murano Software">
    <meta name="msapplication-TileImage" content="images/favicons/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#0874a5">
    <meta name="theme-color" content="#0874a5">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" id="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="/assets/app.css" type="text/css" media="none" onload="if(media!='all')media='all'"/>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="/images/favicons/favicon-16x16.png" sizes="16x16"/>
    <link rel="apple-touch-icon" href="/images/favicons/apple-touch-icon.png">
    <link rel="icon" sizes="192x192" href="/images/favicons/android-chrome-192x192.png">
</head>

<body>

<header class="header container" data-js="menu fix">
    <a class="header__logo" asp-controller="Home" asp-action="Index">Murano</a>

    <nav class="header__menu">
        <div class="header__menu-item">
            <a class="header__menu-link" asp-controller="Home" asp-action="Index">О компании</a>
        </div>
        
        @foreach(var location in Enum.GetValues(typeof(Location)).Cast<Location>())
    {
        <div class="header__menu-item">
            <a class="header__menu-link" asp-controller="Home" asp-action="Office" asp-route-location="@location.ToString().ToLower()">@(Html.DisplayFor(x=>location))</a>
        </div>
    }
        
    </nav>

    <a class="header__toggle">
        <span class="header__toggle-line"></span>
        <span class="header__toggle-line"></span>
        <span class="header__toggle-line"></span>
    </a>
</header>

@RenderBody()

<footer class="footer container">
    <h4 class="footer__title">Murano Software</h4>

    <nav class="footer__links">
        <a class="footer__links-item footer__links-item--moikrug" target="_blank" href="https://moikrug.ru/companies/murano-software">Мой круг</a>
        <a class="footer__links-item footer__links-item--hh" target="_blank" href="https://hh.ru/employer/6301">HeadHunter</a>
        <a class="footer__links-item footer__links-item--vk" target="_blank" href="https://vk.com/muranosoft">ВКонтакте</a>
    </nav>

    <div class="footer__text">
        <p class="text text--dim">
            Copyright © 2003 — @DateTime.Today.Year by Murano Software, Inc. All rights reserved. <br>
            All Registered Trade Marks used on this Website, whether marked as Trade Marks or not marked, are declared to belong to their respective owner(s).
            All company names, service marks, trade names, trade dress, product names and logos appearing on the site are the property of their respective owners.
        </p>
    </div>
</footer>

<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700|Open+Sans:300,400,600&amp;subset=cyrillic" rel="stylesheet">

<script src="/assets/app.js"></script>
</body>
</html>