﻿<app-location-selector
  (locationSelect)="locationSelect($event)"
  [firstAsDefault]="true">
</app-location-selector>

<table [ngClass]="{'table': true, 'vacancies-list': true, 'sorting-process': sortableItem}" *ngIf="location" (mouseup)="stopSorting()">
  <thead>
    <tr>
      <th>Title <a routerLink="./add" class="icon glyphicon glyphicon-plus-sign" *ngIf="!inArchive"></a></th>
      <th>Location</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let vacancy of vacancies" (mouseover)="swapSortedItems(vacancy, $event)">
      <td><a [routerLink]="['./', vacancy.id]">{{vacancy.title}}</a></td>
      <td>{{vacancy.location}}</td>
      <td><a [routerLink]="['/job-applications']" [queryParams]="{vacancy: vacancy.id}">Applications</a></td>
      <td><a (click)="showLog(vacancy, modal, $event); false" href="#">Log</a></td>
      <td align="right">
        <div class="sorting-area" (mousedown)="startSorting(vacancy)">
          <i class="glyphicon glyphicon-resize-vertical"></i> Sort
        </div>
      </td>
    </tr>
  </tbody>
</table>
<app-modal #modal (close)="closeLogs()">
    <div class="app-modal-header">
      Logs
    </div>
    <div class="app-modal-body">
      <table class="table logs-list">
        <thead>
          <tr>
            <th>User</th>
            <th>Action</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let log of logs">
            <td>{{log.user}}</td>
            <td>{{log.action}}</td>
            <td>{{log.date | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="app-modal-footer">
      <button type="button" class="btn btn-default" (click)="modal.hide()">Close</button>
    </div>
  </app-modal>
