.footer {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  align-items: center;
  justify-content: space-between;

  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: $color-ground;

  @media screen and (max-width: 767px) {
    flex-flow: column;
  }
}
