.footer__links {
  display: flex;
  justify-content: flex-end;

  .footer__links-item {
    display: block;

    width: 3rem;
    height: 2rem;
    margin: 1rem .75rem;
    text-indent: -9999em;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .footer__links-item--hh {
    background-image: url('../images/hh-footer.svg');
  }

  .footer__links-item--vk {
    width: 2rem;
    background-image: url('../images/vk-footer.svg');
  }

  .footer__links-item--moikrug {
    width: 4rem;
    background-image: url('../images/moikrug-footer.svg');
  }
}
