﻿@{ Layout = "_Layout"; }
@using System.Linq
@using MuranoWeb.Models.Home
@using System.Collections.Generic
@using System.Linq.Expressions;

@model OfficeModel

<section class="section">
    <div class="section__office container" style="background-image: url('@ViewBag.OfficeCoverImageUrl')">

        <h1 class="title title--promo">@ViewBag.Title</h1>

        <div class="section__office-buttons">
            <a class="button" href="#vacancy-list" data-anchor=".section__vacancy">Вакансии</a>
            <a class="button button--outline" href="#about-office" data-anchor=".section__terms">Об офисе</a>
        </div>
    </div>
</section>
@if (Model.Quote != null)
{
    <div class="section">
        <div class="section__quote container">

            <div class="section__quote-inner">
                <span class="icon icon--quote"></span>

                <p class="text">
                    @Model.Quote.Text
                </p>

                <p class="text text--sign">
                    @Model.Quote.Author<br>
                </p>
            </div>
        </div>
    </div>
}
<section class="section section--column container">
<div class="section__vacancy">
<a id="vacancy"></a>

<h2 class="title">Вакансии</h2>

@if (!Model.Vacancies.Any())
{
    <div class="text text--tagline">На данный момент нет открытых вакансий.</div>
}
    
<div class="section__vacancy-list" data-js="vacancy">

    @foreach (var vacancyItem in Model.Vacancies)
    {
        <div class="section__vacancy-item">
            <h3 class="text text--tagline">@vacancyItem.Title</h3>
            <img class="section__vacancy-icon" src="@vacancyItem.IconUrl" alt=""/>
            <div class="section__vacancy-short">
                <div>
                    @Html.Raw(vacancyItem.Summary)
                </div>
                <div>
                    <a class="section__vacancy-link" href="#more">Подробнее</a>
                </div>
            </div>

            <div class="section__vacancy-more">
                <button class="button button--close icon--close"></button>

                <div class="section__vacancy-column">
                    @Html.Raw(vacancyItem.Description)

                    <button class="button button--more" data-url="@Url.Action("PostApplication", "Home", new {
                        location = Model.Location.ToString().ToLower(),
                        vacancyId = vacancyItem.VacancyId
                    })">Откликнуться</button>
                </div>

                <div class="section__vacancy-column">
                    @Html.Raw(vacancyItem.Requirements)
                </div>
            </div>
        </div>
    }

</div>
</div>

<article class="section__portals">
    <h2 class="text text--tagline">Мы на рекрутинговых порталах</h2>

    <a class="section__portals-link section__portals-link--hh" target="_blank" href="@ViewBag.HeadHunterLink">HeadHunter</a>
    <a class="section__portals-link section__portals-link--moikrug" target="_blank" href="@ViewBag.MoiKrugLink">Мой круг</a>
</article>
</section>

<div class="section">
    <article class="section__job-application container">
        <h2 class="text text--tagline">
            Не нашли подходящую вакансию? <br>
            Расскажите нам о своем опыте, и мы подумаем, что вам предложить!
        </h2>

        <a data-js="jobApplication"
           data-url="@Url.Action("PostApplication", "Home", new {
               location = Model.Location.ToString().ToLower()
           })"
           class="button"
           href="#">Отправить резюме</a>

    </article>
</div>

@RenderBody()

<section class="section section--column">
    <div class="section__gallery">
        <h2 class="title container">Наша жизнь</h2>

        <div class="section__gallery-list" data-js="gallery">
            @foreach (var link in ViewBag.GalleryLinksList)
            {
                <a class="section__gallery-item" href="@link.FullImage" style="background-image: url('@link.PreviewImage')"></a>
            }
        </div>
    </div>
</section>

<section class="section">
    <div class="section__contacts container">
        <h2 class="section__contacts-title title">Контакты офиса в @(Html.DisplayFor(m=>m.Location))е</h2>

        <div class="section__contacts-info">
            <div class="section__contacts-item">
                <span class="icon icon--pin"></span>
                @Html.Raw(ViewBag.Contacts.Address)
            </div>

            @if (!string.IsNullOrEmpty(ViewBag.Contacts.PhoneNumber))
            {
                <div class="section__contacts-item">
                <span class="icon icon--phone"></span>
                @Html.Raw(ViewBag.Contacts.PhoneNumber)
            </div>
            }
            <div class="section__contacts-item">
                <span class="icon icon--envelope"></span>
                <a href=@("mailto:"+@Html.Raw(ViewBag.Contacts.Email))>@Html.Raw(ViewBag.Contacts.Email)</a>
            </div>
        </div>
        @if (!string.IsNullOrEmpty(ViewBag.Contacts.Route))
        {
                <div class="section__contacts-route">
                    <p class="text text--subtitle">Как добраться:</p>
                    <p class="text">
                        @Html.Raw(ViewBag.Contacts.Route)
                    </p>
                </div>
        }
    </div>

    <div class="section__map">
        <div class="section__map-iframe" data-js="address"></div>
    </div>
</section>

<div class="popover" data-js="popover">

    <form class="popover__box" data-js="form" action="/" method="POST" asp-antiforgery="true" novalidate>

        <a class="button button--close icon--close"></a>

        <p class="popover__box-status popover__box-status--process">
            <span class="preloader"></span>
            Заявка отправляется
        </p>

        <p class="popover__box-status popover__box-status--success">
            <span class="icon icon--check"></span>
            Спасибо за заявку
        </p>

        <p class="popover__box-status popover__box-status--fail">
            <span class="icon icon--close"></span>
            Извините, произошла ошибка
        </p>

        <p class="popover__box-title">Откликнуться на вакансию</p>

        <div class="popover__box-item input">
            <input class="input__field input__field--text" type="text" name="FirstName" required>

            <label class="input__label">Имя</label>
            <span class="input__bar"></span>

            <span class="input__error">Поле обязательно для заполнения</span>
        </div>

        <div class="popover__box-item input">
            <input class="input__field input__field--text" type="text" name="LastName" required>

            <label class="input__label">Фамилия</label>
            <span class="input__bar"></span>

            <span class="input__error">Поле обязательно для заполнения</span>
        </div>

        <div class="popover__box-item input">
            <input class="input__field input__field--email" type="text" name="Email" required>

            <label class="input__label">E-mail</label>
            <span class="input__bar"></span>

            <span class="input__error">Пожалуйста, введите корректный адрес</span>
        </div>

        <div class="popover__box-item input">
            <textarea class="input__field input__field--message input__field--ta name="Comment" required></textarea>

            <label class="input__label">Комментарий</label>
            <span class="input__bar"></span>
        </div>

        <div class="popover__box-item upload" data-js="upload">
            <label class="upload__label">Резюме</label>

            <div class="upload__drop">
                <input class="upload__drop-file" type="file" data-max-size="5242880" name="CV"/>

                <div class="upload__drop-area">
                    <span class="upload__drop-text">Перетащите сюда или выберите файл не&nbsp;больше&nbsp;5&nbsp;Мб</span>
                    <span class="upload__drop-button upload__drop-button--insert"></span>
                    <span class="upload__drop-button upload__drop-button--cancel"></span>
                </div>
            </div>

            <span class="upload__error">Максимальный размер файла - 5&nbsp;Мб</span>
        </div>

        <div class="popover__box-item">
            <input class="checkbox" id="personal-policy" type="checkbox" value="check" required>
            <label class="label" for="personal-policy">Нажимая на кнопку &laquo;Отправить&raquo;, я даю <a href="#">согласие на обработку персональных данных</a></label>
        </div>
        <div class="popover__box-item">
            <button class="button" id="submit-button" type="submit" disabled>Отправить</button>
        </div>
    </form>
</div>

<script>
    window.officeMapCoordinates = {
        lat: @ViewBag.MapCoordinates.Latitude,
        lng: @ViewBag.MapCoordinates.Longitude
    };
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNpaKE1sPyK0RpJK_YYnFpcI-7GcyKbaM"></script>