﻿@using System.Dynamic

@{
    Layout = "Offices/_OfficeLayout";
    ViewBag.OfficeLocation = "Харьков";
    ViewBag.Title = "Офис в " + ViewBag.OfficeLocation  + "е";
    ViewBag.HeadHunterLink = "https://hh.ru/employer/6301";
    ViewBag.MoiKrugLink = "https://moikrug.ru/companies/murano-software";
    ViewBag.MapCoordinates = new ExpandoObject();
    ViewBag.MapCoordinates.Latitude = "50.0042102"; 
    ViewBag.MapCoordinates.Longitude = "36.2378347";
    ViewBag.Contacts = new ExpandoObject();
    ViewBag.Contacts.Address = "ул.Иванова 7/9 БЦ Параллель 50";
    ViewBag.Contacts.PhoneNumber = null;
    ViewBag.Contacts.Email = "kharkov.careers@muranosoft.com";
    ViewBag.Contacts.Route = "";
    ViewBag.OfficeCoverImageUrl = "/images/kharkov-cover.jpg";
}

<section class="section section--column container">
    <article class="section__terms">

        <h2 class="title">Условия работы</h2>

        <div class="section__terms-list">
            <div class="section__terms-item">
                <h3 class="text text--tagline">
                    <span class="icon icon--computer"></span>
                    Комфортный офис
                </h3>
                <p class="text">
                    Мы сделали наш офис местом, куда хочется приходить каждый день.
                    У всех проектов – собственное творческое пространство.
                    А для «перезагрузки» у нас есть спортзал, душевая, игровая комната с настольным теннисом, xBox и многим другим.
                </p>
            </div>

            <div class="section__terms-item">
                <h3 class="text text--tagline">
                    <span class="icon icon--food"></span>
                    Питание в офисе
                </h3>
                <p class="text">
                    Нам не нужно ломать голову над тем, где пообедать – питание у нас организовано прямо в офисе и за счёт компании.
                    Главное – выбрать первое, второе и третье. А в течение дня всегда можно перекусить орехами, печеньками и фруктами.
                </p>
            </div>

            <div class="section__terms-item">
                <h3 class="text text--tagline">
                    <span class="icon icon--book"></span>
                    Английский язык
                </h3>
                <p class="text">
                    Английский у нас нужен везде. Поэтому у нас есть языковые курсы для любого уровня, free of charge.
                </p>
            </div>
            <div class="section__terms-item">
                <h3 class="text text--tagline">
                    <span class="icon icon--medicine"></span>
                    Медицинская страховка
                </h3>
                <p class="text">
                    У нас заботятся о здоровье сотрудников.
                    Нам не приходится думать о том, к какому врачу обратиться, и сколько это будет стоить – у нас расширенная программа ДМС со стоматологией.
                    Бонус – полис для зарубежных поездок.
                </p>
            </div>

            <div class="section__terms-item">
                <h3 class="text text--tagline">
                    <span class="icon icon--relocation"></span>
                    Помощь в переезде
                </h3>
                <p class="text">
                    Понравилась наша вакансия, и вы готовы переехать к нам из другого города или даже страны? Замечательно!
                    Мы с радостью поможем вам в этом, а также оплатим проезд и аренду жилья на первое время.
                </p>
            </div>
            <div class="section__terms-item">
                <h3 class="text text--tagline">
                    <span class="icon icon--friends"></span>
                    Корпоративная жизнь
                </h3>
                <p class="text">
                    Кто хорошо работает, тот хорошо отдыхает – это точно про нас!
                    У нас насыщенная внутренняя жизнь. Наши праздники – это всегда яркие мероприятия, о которых вспоминают спустя годы.
                </p>
            </div>
        </div>
    </article>
</section>