﻿.icons-list-multiple-file-chooser {
  margin: 8px;
}

.icon-preview {
  width: 5rem;
  height: 5rem;
}

.file-chooser-file {
  display: block;
  position: relative;
  float:none;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.file-chooser-link {
  display:block;
  position: absolute;
  float: none;
  top: 0;
  left: 0;
}

.file-container {
  display: inline-block;
}