﻿<table class="table quote-list">
  <thead>
    <tr>
      <th>Icon</th>
      <th>Title</th>
      <th><span><input #fileInput type="file" class="file-chooser-file" id="filechooser" (change)="addImage($event)"><a (click)="addNewIcon()" class="icon glyphicon glyphicon-plus-sign"></a></span></th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let icon of icons">
      <td><a (click)="replaceIcon(icon)"><img class="icon-preview" [src]="icon.url" /></a></td>
      <td>
        <textarea class="form-control" *ngIf="currentIconId == icon.id" [(ngModel)]="icon.title" required></textarea>
        <span *ngIf="currentIconId != icon.id">{{icon.title}}</span>
      </td>
      <td>
        <div *ngIf="currentIconId != icon.id">
          <a (click)="editIcon(icon)" class="icon glyphicon glyphicon-edit"></a>
          <!--
          <a (click)="deleteIcon(icon)" class="icon glyphicon glyphicon-trash"></a>
          -->
        </div>
        <div *ngIf="currentIconId == icon.id">
          <a (click)="saveIconUI(icon)" class="icon glyphicon glyphicon-ok"></a>
          <!--
          <a (click)="closeEdit(icon)" class="icon glyphicon glyphicon-remove"></a>
              -->
        </div>
      </td>
    </tr>

  </tbody>
</table>