﻿<div class="photos-list-filter">
  <app-location-selector
    (locationSelect)="locationSelect($event)"
    [firstAsDefault]="true">
  </app-location-selector>
</div>

<table [ngClass]="{'table': true, 'photos-list': true, 'sorting-process': sortableItem}" *ngIf="location" (mouseup)="stopSorting()">
  <thead>
  <tr>
    <th>Preview</th>
    <th>URL</th>
    <th class="actions">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let photo of photos" (mouseover)="swapSortedItems(photo, $event)">
    <td><div class="sorting-area" (mousedown)="startSorting(photo)"><img [ngClass]="{'img-thumbnail': true, 'hidden-photo': !photo.show}" [src]="photo.url" (click)="lightboxPhoto=photo" /></div></td>
    <td>{{photo.url}}</td>
    <td class="actions">
      <button *ngIf="!photo.show" (click)="toggleShow(photo)" type="button" class="btn btn-sm btn-success">Show</button>
      <button *ngIf="photo.show" (click)="toggleShow(photo)" type="button" class="btn btn-sm btn-default">Hide</button>
      <button (click)="deletePhoto(photo)" type="button" class="btn btn-sm btn-danger">Delete</button>
      <div class="sorting-area" (mousedown)="startSorting(photo)">
        <i class="glyphicon glyphicon-resize-vertical"></i> Sort
      </div>
    </td>
  </tr>
  </tbody>
</table>

<div class="photos-list-multiple-file-chooser" *ngIf="location">
  <app-file-chooser (filesChoose)="filesChoose($event)" [multiple]="true"></app-file-chooser>
</div>

<div class="lightbox" *ngIf="lightboxPhoto" (click)="lightboxPhoto=null">
  <img [src]="lightboxPhoto.url" />
</div>
