﻿@using MuranoWeb.Data.Entity;
@using MuranoWeb.Data.Extensions;
@{
	Layout = "_Layout";
    ViewBag.Title = "Murano Software";
}

<section class="section section--screen container" data-js="screen">
	<video class="video video--screen" poster="/images/cover-preload.jpg" preload="auto" loop autoplay muted>
		<source type="video/mp4" src="/video/video.mp4?2">
	</video>

	<h1 class="title title--promo">
		Murano Software <br>Where Creative Minds Thrive
	</h1>

	<a class="helper helper--promo helper--scroll-down">Прокрутить вниз</a>
</section>

<section class="section section--row container" id="about" data-anchor="#about">
	<div class="section__about section__about--excerpt">
		<h2 class="title">О компании</h2>

		<p class="text">
			Мы &mdash; энтузиасты программирования.<br>
			Наш головной офис находится в США, а центры разработки &mdash; в России, Украине и Узбекистане.
		</p>
	</div>

	<div class="section__about">
		<p class="text">
			C 2003 года мы создаем и доводим до совершенства различные проекты для американских компаний.
			В нашем портфолио десятки сложных веб-приложений: высоконагруженная e-commerce платформа для сети одежды
			и аксессуаров мирового масштаба, портал для государственной регистрации сделок с автомобилями и многое другое.
		</p>

		<p class="text">
			Наш собственный продукт &mdash; облачное решение для документооборота и хранения данных,
			которым пользуется более половины независимых страховых агенств в США.
		</p>
	</div>
</section>

<section class="section">
	<div class="section__benefits">
		<div class="section__benefits-image"></div>

        <div class="container">
            <div class="section__benefits-inner">
                <div class="section__benefits-about">
                    <h2 class="title">Широкий спектр технологий</h2>

                    <h3 class="text">Мы используем популярные технологии и&nbsp;современные платформы разработки</h3>
                </div>

                <div class="section__technology" data-js="technology">
                    <div class="section__technology-item">
                        <span class="icon icon--dotnet"></span>

                        <span>.NET</span>
                    </div>

                    <div class="section__technology-item">
                        <span class="icon icon--java"></span>

                        <span>Java, J2EE</span>
                    </div>

                    <div class="section__technology-item">
                        <span class="icon icon--cplusplus"></span>

                        <span>C++</span>
                    </div>

                    <div class="section__technology-item">
                        <span class="icon icon--csharp"></span>

                        <span>C#</span>
                    </div>

                    <div class="section__technology-item">
                        <span class="icon icon--javascript"></span>

                        <span>Javascript</span>
                    </div>

                    <div class="section__technology-item">
                        <span class="icon icon--msql-server"></span>

                        <span>MS SQL Server</span>
                    </div>

                    <div class="section__technology-item">
                        <span class="icon icon--postgresql"></span>

                        <span>PostgreSQL</span>
                    </div>

                    <div class="section__technology-item">
                        <span class="icon icon--nodejs-small"></span>

                        <span>nodeJS</span>
                    </div>

                    <div class="section__technology-item">
                        <span class="icon icon--angular"></span>

                        <span>AngularJS</span>
                    </div>

                    <div class="section__technology-item">
                        <span class="icon icon--mongodb"></span>

                        <span>mongoDB</span>
                    </div>

                    <div class="section__technology-item">
                        <span class="icon icon--jquery"></span>

                        <span>jQuery</span>
                    </div>

                    <div class="section__technology-item">
                        <span class="icon icon--rails"></span>

                        <span>Ruby on Rails</span>
                    </div>

                    <div class="section__technology-item">
                        <span class="icon icon--mysql"></span>

                        <span>Mysql</span>
                    </div>

                    <div class="section__technology-item">
                        <span class="icon icon--android"></span>

                        <span>iOS &amp; Android</span>
                    </div>

                    <div class="section__technology-item">
                        <span class="icon icon--python"></span>

                        <span>Python</span>
                    </div>

                    <div class="section__technology-item">
                        <span class="icon icon--typescript"></span>

                        <span>TypeScript</span>
                    </div>

                    <div class="section__technology-item">
                        <span class="icon icon--react"></span>

                        <span>ReactJS</span>
                    </div>
                </div>
            </div>
            </div>
        </div>
</section>

<section class="section section--column container">

	<div class="section__numbers">
		<h2 class="title">Murano в числах</h2>

		<div class="section__numbers-list">
			<div class="section__numbers-item">
				<span class="section__numbers-item-number">18</span>
				активных проектов
			</div>

			<div class="section__numbers-item">
				<span class="section__numbers-item-number">9</span>
				городов, откуда мы организовали релокацию сотрудников
			</div>

			<div class="section__numbers-item">
				<span class="section__numbers-item-number">6</span>
                внутренних технических митапов в год
			</div>
		</div>
	</div>

</section>

<div class="section">

	<div class="section__staff container">

		<svg class="section__staff-plot plot" data-js="plot" viewBox="-30 -80 1360 540" xml:space="preserve">
				<path data-plot="path-year" stroke="#EDA455" d="M 0 404 L 0 432"></path>
				<path data-plot="path-year" stroke="#EDA455" d="M 100 378 L 100 432"></path>
				<path data-plot="path-year" stroke="#EDA455" d="M 200 310 L 200 432"></path>
				<path data-plot="path-year" stroke="#EDA455" d="M 300 280 L 300 432"></path>
				<path data-plot="path-year" stroke="#EDA455" d="M 400 268 L 400 432"></path>
				<path data-plot="path-year" stroke="#EDA455" d="M 500 236 L 500 432"></path>
				<path data-plot="path-year" stroke="#EDA455" d="M 600 220 L 600 432"></path>
				<path data-plot="path-year" stroke="#EDA455" d="M 700 172 L 700 432"></path>
				<path data-plot="path-year" stroke="#EDA455" d="M 800 132 L 800 432"></path>
				<path data-plot="path-year" stroke="#EDA455" d="M 900 126 L 900 432"></path>
				<path data-plot="path-year" stroke="#EDA455" d="M 1000 110 L 1000 432"></path>
				<path data-plot="path-year" stroke="#EDA455" d="M 1100 88 L 1100 432"></path>
				<path data-plot="path-year" stroke="#EDA455" d="M 1200 52 L 1200 432"></path>
				<path data-plot="path-year" stroke="#EDA455" d="M 1300 0 L 1300 432"></path>

				<path data-plot="path-main" stroke="#fff" stroke-width="4" fill="none" d="M 0 404 L 100 378 L 200 310 L 300 280 L 400 268 L 500 236 L 600 220 L 700 172 L 800 132 L 900 126 L 1000 110 L 1100 88 L 1200 52 L 1300 0"></path>

				<circle cx="0" cy="404" r="8" fill="#fff"></circle>
				<circle cx="100" cy="378" r="8" fill="#fff"></circle>
				<circle cx="200" cy="310" r="8" fill="#fff"></circle>
				<circle cx="300" cy="280" r="8" fill="#fff"></circle>
				<circle cx="400" cy="268" r="8" fill="#fff"></circle>
				<circle cx="500" cy="236" r="8" fill="#fff"></circle>
				<circle cx="600" cy="220" r="8" fill="#fff"></circle>
				<circle cx="700" cy="172" r="8" fill="#fff"></circle>
				<circle cx="800" cy="132" r="8" fill="#fff"></circle>
				<circle cx="900" cy="126" r="8" fill="#fff"></circle>
				<circle cx="1000" cy="110" r="8" fill="#fff"></circle>
				<circle cx="1100" cy="88" r="8" fill="#fff"></circle>
				<circle cx="1200" cy="52" r="8" fill="#fff"></circle>
				<circle cx="1300" cy="0" r="8" fill="#fff"></circle>

				<circle data-plot="circle-2004" cx="0" cy="404" r="14" fill="#fff"></circle>
				<circle data-plot="circle-2005" cx="100" cy="378" r="14" fill="#fff"></circle>
				<circle data-plot="circle-2006" cx="200" cy="310" r="14" fill="#fff"></circle>
				<circle data-plot="circle-2007" cx="300" cy="280" r="14" fill="#fff"></circle>
				<circle data-plot="circle-2008" cx="400" cy="268" r="14" fill="#fff"></circle>
				<circle data-plot="circle-2009" cx="500" cy="236" r="14" fill="#fff"></circle>
				<circle data-plot="circle-2010" cx="600" cy="220" r="14" fill="#fff"></circle>
				<circle data-plot="circle-2011" cx="700" cy="172" r="14" fill="#fff"></circle>
				<circle data-plot="circle-2012" cx="800" cy="132" r="14" fill="#fff"></circle>
				<circle data-plot="circle-2013" cx="900" cy="126" r="14" fill="#fff"></circle>
				<circle data-plot="circle-2014" cx="1000" cy="110" r="14" fill="#fff"></circle>
				<circle data-plot="circle-2015" cx="1100" cy="88" r="14" fill="#fff"></circle>
				<circle data-plot="circle-2016" cx="1200" cy="52" r="14" fill="#fff"></circle>
				<circle data-plot="circle-2017" cx="1300" cy="0"  r="14" fill="#fff"></circle>

				<text x="-18" y="452" font-family="Open Sans" font-size="16" fill="#fff">2004</text>
				<text x="82" y="452" font-family="Open Sans" font-size="16" fill="#fff">2005</text>
				<text x="182" y="452" font-family="Open Sans" font-size="16" fill="#fff">2006</text>
				<text x="282" y="452" font-family="Open Sans" font-size="16" fill="#fff">2007</text>
				<text x="382" y="452" font-family="Open Sans" font-size="16" fill="#fff">2008</text>
				<text x="482" y="452" font-family="Open Sans" font-size="16" fill="#fff">2009</text>
				<text x="582" y="452" font-family="Open Sans" font-size="16" fill="#fff">2010</text>
				<text x="682" y="452" font-family="Open Sans" font-size="16" fill="#fff">2011</text>
				<text x="782" y="452" font-family="Open Sans" font-size="16" fill="#fff">2012</text>
				<text x="882" y="452" font-family="Open Sans" font-size="16" fill="#fff">2013</text>
				<text x="982" y="452" font-family="Open Sans" font-size="16" fill="#fff">2014</text>
				<text x="1082" y="452" font-family="Open Sans" font-size="16" fill="#fff">2015</text>
				<text x="1182" y="452" font-family="Open Sans" font-size="16" fill="#fff">2016</text>
				<text x="1282" y="452" font-family="Open Sans" font-size="16" fill="#fff">2017</text>

				<g data-plot="label-2004">
					<rect x="-25" y="335" width="60" height="40" rx="5" fill="#fff" />
					<text x="-10" y="364" font-family="Open Sans" font-size="24" fill="#f29313">14</text>
				</g>
				<g data-plot="label-2005">
					<rect x="70" y="309" width="60" height="40" rx="5" fill="#fff" />
					<text x="87" y="338" font-family="Open Sans" font-size="24" fill="#f29313">27</text>
				</g>
				<g data-plot="label-2006">
					<rect x="170" y="241" width="60" height="40" rx="5" fill="#fff" />
					<text x="187" y="270" font-family="Open Sans" font-size="24" fill="#f29313">61</text>
				</g>
				<g data-plot="label-2007">
					<rect x="270" y="211" width="60" height="40" rx="5" fill="#fff" />
					<text x="287" y="240" font-family="Open Sans" font-size="24" fill="#f29313">76</text>
				</g>
				<g data-plot="label-2008">
					<rect x="370" y="199" width="60" height="40" rx="5" fill="#fff" />
					<text x="387" y="228" font-family="Open Sans" font-size="24" fill="#f29313">82</text>
				</g>
				<g data-plot="label-2009">
					<rect x="470" y="167" width="60" height="40" rx="5" fill="#fff" />
					<text x="487" y="196" font-family="Open Sans" font-size="24" fill="#f29313">98</text>
				</g>
				<g data-plot="label-2010">
					<rect x="570" y="151" width="60" height="40" rx="5" fill="#fff" />
					<text x="580" y="180" font-family="Open Sans" font-size="24" fill="#f29313">106</text>
				</g>
				<g data-plot="label-2011">
					<rect x="670" y="103" width="60" height="40" rx="5" fill="#fff" />
					<text x="680" y="132" font-family="Open Sans" font-size="24" fill="#f29313">130</text>
				</g>
				<g data-plot="label-2012">
					<rect x="770" y="63" width="60" height="40" rx="5" fill="#fff" />
					<text x="780" y="92" font-family="Open Sans" font-size="24" fill="#f29313">150</text>
				</g>
				<g data-plot="label-2013">
					<rect x="870" y="57" width="60" height="40" rx="5" fill="#fff" />
					<text x="880" y="86" font-family="Open Sans" font-size="24" fill="#f29313">153</text>
				</g>
				<g data-plot="label-2014">
					<rect x="970" y="41" width="60" height="40" rx="5" fill="#fff" />
					<text x="980" y="70" font-family="Open Sans" font-size="24" fill="#f29313">161</text>
				</g>
				<g data-plot="label-2015">
					<rect x="1070" y="19" width="60" height="40" rx="5" fill="#fff" />
					<text x="1080" y="48" font-family="Open Sans" font-size="24" fill="#f29313">172</text>
				</g>
				<g data-plot="label-2016">
					<rect x="1170" y="-17" width="60" height="40" rx="5" fill="#fff" />
					<text x="1180" y="12" font-family="Open Sans" font-size="24" fill="#f29313">190</text>
				</g>
				<g data-plot="label-2017">
					<rect x="1270" y="-69" width="60" height="40" rx="5" fill="#fff" />
					<text x="1280" y="-40" font-family="Open Sans" font-size="24" fill="#f29313">216</text>
				</g>
		</svg>

		<div class="section__staff-count">
			<span class="section__staff-count-strong">200+</span>
			человек в команде
		</div>
	</div>

</div>

<div class="section section--column container">

	<div class="section__numbers">
		<div class="section__numbers-list">
			<div class="section__numbers-item">
				<span class="icon icon--tennis"></span>

				<div class="section__numbers-item-row">
					<span class="section__numbers-item-strong">30</span>
					партий в настольный теннис в день в офисе СПб
				</div>
			</div>

			<div class="section__numbers-item">
				<span class="icon icon--english"></span>

				<div class="section__numbers-item-row">
					<span class="section__numbers-item-strong">6</span>
					занятий по английскому в неделю в харьковском офисе
				</div>
			</div>

			<div class="section__numbers-item">
				<span class="icon icon--fruit"></span>

				<div class="section__numbers-item-row">
					<span class="section__numbers-item-strong">300</span>
					килограммов фруктов в месяц мы заказываем для наших сотрудников в СПб
				</div>
			</div>

			<div class="section__numbers-item">
				<span class="icon icon--drink"></span>

				<div class="section__numbers-item-row">
					<span class="section__numbers-item-strong">20</span>
					тематических вечеринок в год во всех офисах
				</div>
			</div>

			<div class="section__numbers-item">
				<span class="icon icon--people"></span>

				<div class="section__numbers-item-row">
					<span class="section__numbers-item-strong">140+</span>
					клиентов за все время работы
				</div>
			</div>
		</div>
	</div>

</div>

<section class="section">

	<div class="section__work container" data-js="officesMap">

		<div class="section__work-about">
			<h2 class="title">Работа в Murano</h2>

			<p class="text">
                Программирование для нас не просто профессия, это - искусство. Мы ценим свободу и самостоятельность: у нас нет бюрократии, и никто не стоит над душой.
			</p>
            <p class="text">
                Непринуждённая атмосфера, уют и индивидуальный подход к каждому – у нас есть всё для комфортной работы и для того, чтобы посвятить себя главному – программированию.
            </p>
            <p class="text">
                Наше стремление к совершенству приносит плоды – у нас всё время появляются новые интересные задачи и проекты, в которые вы можете внести свой вклад.
            </p>
            <p class="text">
                Мы всегда рады людям, которым близки наши идеалы.
            </p>

			<h4 class="text text--heading">Вакансии в наших офисах</h4>

			<div class="section__work-list" data-js="officesLinks">
				@foreach(var location in Enum.GetValues(typeof(Location)).Cast<Location>())
				{
					<a class="section__work-item"
					   data-point="@location.ToString().ToLower()"
					   href="@Url.Action("Office", "Home", new {location = location.ToString().ToLower()})#vacancy">
						@Html.DisplayFor(x => location)
					</a>
				}
			</div>
		</div>

		<svg class="section__work-map" data-js="officesPoints" viewBox="0 0 680 440" xml:space="preserve">
		  <defs>
			 <linearGradient id="offices-gradient" x1="0%" y1="0%" x2="0%" y2="100%">
			  <stop offset="0%" stop-color="#fff" stop-opacity="0.10" />
			  <stop offset="100%" stop-color="#fff" stop-opacity="0.35" />
			</linearGradient>
		  </defs>
		  <g fill="url(#offices-gradient)">
			<path d="M338,49.3l7.5-0.6l7.7-6.7h10.6l6.2-2.4v5l-2.9,5.5l1.5,0.1l-3.5,4.1l5.2,5.7l-14.8,13.8l-3.4,0.2l-6.2-4.7l0,0
			  v-3.9l-4-4.4v-7.5l-4-3.4L338,49.3L338,49.3z M312,166v9.1l10.7,10.9H320l-0.6,9H296v-20.7l12.5-12.8L312,166z M134,26.4l20.5-7.4h7
			  l12.8-13h22.9H197v8.6l-15,15v18.1l-12,12.6V79h-11.6l-5.1-7l4.2-9.1L134,42.7V26.4z M201.4,132.1l-7.4,6.5V160h-0.6L180,143.2
			  v-17.4l-17.6-17.7l-9,8.6l-7.2-6.9l-5.3,4.4L125.2,101h53.3l13.5,12v8.4L201.4,132.1z M123.1,57.1l14.5-0.1l6.8,5.1l-4.6,3.3
			  L157.3,86h12.5l6.3,5H140l-17-17.8L123.1,57.1z M107.5,73l6.5,7.3V93h-4.5L94.1,77.8L93.8,73H107.5z M78,95h21.2l6.3,6h8l22.2,22.7
			  l-1.5,2.3h-7.8l-4.2-4.2L118,126h-10.3l-10.5-11h-5.8L78,101.6V95z M247,315v18.3L219,362v7l-27,28.7V409l-5,3.7v19.7l-10-10.7v-32
			  l3-3.3v-20l2-3.7V345l-21-21.3v-21.3l5.8-5.3l-12.1-13h-15.2l-11-12h-3.7L96,243.3v-6.7l-15-14v-29L53.8,165H40.2l-15.4,9.6L7,157.3
			  v-14.7L0,136v-16.3l18.5-4.6h12.7l5,5h14.7l5.7,4h41.1l9.6,11h11l4.3-4.3l4.3,4.3h12l7.3-11.5l6.1,3.5l6.3-8.1l4.4,7.4v8.7l-22,22.3
			  V180h14.5l13.5,11.6v-12.9l7-7l-5-5V157h12.2l34,34.3L191.8,217H182l-8,8v5.3l-13.7,13v3.3l2.1,3.4l-0.1,6.4l-3,0.1l-3.6-6.5
			  l-23.8,0.3v12L142,273l9.9-2v1.6l17.8,17.4h46.7l23.3,25H247L247,315z M262.3,131l-22.3,8.7v2.7l-6,6.2V166l-16-15v-37.2l-10-9.6
			  V86.4l-6.4-7.4H181V59.6l6-7.2V31.1l18.1-0.1l15.3-15h9.5l16.2-16h17.1l15.9,13.1l-4.4,1.7l5.9,7.7l6.8-3.5h6l8.6,8.5l-20,13.1v25.3
			  l-3,3.9v19.7l-2,6.9l3.2,20.3L269.7,131H262.3z M272,145.1v-6.4l12.5-0.8h7.5v2.7l-0.5,13.3h-10.8L272,145.1z M412,339.8l-6,5.5V361
			  h-5v-25.7l11-11.4V339.8z M395,309.2v24.3l-11,9.3v8.6l-4,4.3v7l-4.1,17.3h-13.7L343,361.5v-16l-5-4.9v-28.9l-5-5V301h-28.6
			  L285,282.3V255l28.7-15h7.1l4.8-5H337v6h12.1l5.9,7v-3h18.8l13.2,15v8.3l21.5,20.7h6.7L395,309.2z M525.3,322.6H509v-3.2L498.7,309
			  v-6.7l12.2,12.2h12.5l4.2,4.2L525.3,322.6z M600.3,400l-3.2-4.3l0.3-3.1h4.3L600.3,400z M591.6,388l-2.8-2.7l0.2-6.3h-7.3l-5.3-6
			  H564l-4.6,6h-8.6l-2.8,1h-12v-16.2l-0.6-2l2.9-9l6.5-2.9h5.2l15.2-15H576v-3.1l10,10.6V331h3l6,4v3.8l10,12.2l0.1,37.1h-13.5V388z
			   M533.6,313.8L552,298l-1.3,23.3l-7.6,2.7L533.6,313.8z M590.3,219.3h-5.5l-2.3,3.2l2.4,3.5l0.1,9l-10.3,7.7v2l-2.1,1.3l-3.4-2.7
			  l0.1-6.5l10.5-8.2l-0.1-11.3l6.8-7.8l8,4.7L590.3,219.3z M600.8,327h-16.3l-8.2-8.6l3-3.4h18.6l3.1,2.4L600.8,327z M654,142.2v4.1
			  L612.7,190l1.9-16.4l8.7-11.5l-10.6,9h-19l-13.5,14h3.8v14.3l-21.2,24.4l6.6,4.7l-7.1,5.7l-6.3-3.6v-2.8l-7.2-6.2l-5.8,4.9v6.2l5,4
			  v12.9l-4.5,17.6h-14.6l-8.3,1.8l8.4,9.4v3.8l-6.8,11.5L516,286v9.3l2.1,3.2l-0.6,6l-5.8-0.5l-2-7.5l-0.2-16.4L495.9,266h-4
			  l-15.3,12.7l-0.3,4l-5.1,6.2l-8.4-8.1l-0.2-9.7L449.2,261h-15.3l6,5.8L422.5,284h-11.7L392,266.1v-7.9l-15.3-16l7.4-6.2h-8.6
			  l-22.2-25.1l-4.4-2.9v4.6l6.3,6.6v4.7l-3.8,2l-10.1-6.9h-7l-16.1,16h-8.5L299,224.2V219h16v-15.6l20.9-16.4h21.6l4.6-17.4v-9.3h-3
			  v-11.8l3-3.7l-12,3.5V181H341v-8h-14v-27.6l42.2-29.4h12.6l13.2,13.7v3.8l-6.5,5.9l-8.5-7.8v6.1l12.1,11.2l28.3-21.9h16.1l21-20h12
			  l25.7-25h15.9l12.5-13.1l5.7,6.1h8.2l-0.1,16.5l-8.9,9.5h30.2l8.8,9h44l14.3,14h16.3l2.3-3h15.5l10.3,11.4L654,142.2z"></path>

				<circle cx="360" cy="195" r="2.5" fill="#fff" />
				<circle cx="380" cy="160" r="2.5" fill="#fff" />
				<circle cx="365" cy="185" r="2.5" fill="#fff" />
				<circle cx="425" cy="215" r="2.5" fill="#fff" />
				<circle cx="90" cy="220" r="2.5" fill="#fff" />

				<g data-point="saintpetersburg" opacity="0" class="section__work-map-label">
					<rect x="365" y="145" width="175" height="30" rx="15" fill="#333" />
					<text x="395" y="165" font-family="Open Sans" font-size="14" font-weight="600" fill="#fff">Санкт-Петербург</text>
					<circle cx="380" cy="160" r="2.5" fill="#fff" />
				</g>
				<g data-point="voronezh" opacity="0" class="section__work-map-label">
					<rect x="350" y="170" width="115" height="30" rx="15" fill="#333" />
					<text x="380" y="190" font-family="Open Sans" font-size="14" font-weight="600" fill="#fff">Воронеж</text>
					<circle cx="365" cy="185" r="2.5" fill="#fff" />
				</g>
				<g data-point="kharkov" opacity="0" class="section__work-map-label">
					<rect x="345" y="180" width="115" height="30" rx="15" fill="#333" />
					<text x="375" y="200" font-family="Open Sans" font-size="14" font-weight="600" fill="#fff">Харьков</text>
					<circle cx="360" cy="195" r="2.5" fill="#fff" />
				</g>
				<g data-point="tashkent" opacity="0" class="section__work-map-label">
					<rect x="410" y="200" width="115" height="30" rx="15" fill="#333" />
					<text x="440" y="220" font-family="Open Sans" font-size="14" font-weight="600" fill="#fff">Ташкент</text>
					<circle cx="425" cy="215" r="2.5" fill="#fff" />
				</g>
				<g data-point="losangeles" opacity="0" class="section__work-map-label">
					<rect x="75" y="205" width="150" height="30" rx="15" fill="#333" />
					<text x="105" y="225" font-family="Open Sans" font-size="14" font-weight="600" fill="#fff">Лос-Анджелес</text>
					<circle cx="90" cy="220" r="2.5" fill="#fff" />
				</g>
		  </g>
		</svg>

	</div>

</section>
