<table class="table quote-list">
  <thead>
    <tr>
      <th>Author</th>
      <th>Text</th>
      <th><a (click)="addNew()" class="icon glyphicon glyphicon-plus-sign"></a></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let q of quotes">
      <td>
        <textarea class="form-control" *ngIf="q.editQuote" [(ngModel)]="q.editQuote.author" required></textarea>
        <span *ngIf="!q.editQuote">{{q.quote.author}}</span>
      </td>
      <td>
        <textarea class="form-control" *ngIf="q.editQuote" [(ngModel)]="q.editQuote.text" required></textarea>
        <span *ngIf="!q.editQuote">{{q.quote.text}}</span>
      </td>
      <td>
        <div *ngIf="!q.editQuote">
          <a (click)="editQuote(q)" class="icon glyphicon glyphicon-edit"></a>
          <a (click)="deleteQuote(q)" class="icon glyphicon glyphicon-trash"></a>
        </div>      
        <div *ngIf="q.editQuote">
          <a (click)="saveQuote(q)" class="icon glyphicon glyphicon-ok"></a>
          <a (click)="closeEdit(q)" class="icon glyphicon glyphicon-remove"></a>
        </div>
      </td>
    </tr>
  </tbody>
</table>
